@charset "utf-8";

/* Googlefonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Zen+Kaku+Gothic+New:wght@400;700&display=swap");

/* ーーーーーーーーーーーーリセットCSSーーーーーーーーーーーー */

/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
    display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
    margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

dl,
dt,
dd,
ul.nolist,
ol.nolist {
    margin: 0;
    padding: 0;
}
ul.nolist li,
ol.nolist li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: inherit; /* 2 */
}

address {
    font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
    vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
    -webkit-appearance: none; /* 1 */
    appearance: none;
    vertical-align: middle;
    color: inherit;
    font: inherit;
    background: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-align: inherit;
    text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
    cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
    outline: auto;
}

select:disabled {
    opacity: inherit;
}

/**
 * Remove padding
 */

option {
    padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
    margin: 0;
    padding: 0;
    min-width: 0;
}

legend {
    padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * Correct the outline style in Safari.
 */

[type="search"] {
    outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type="number"] {
    -moz-appearance: textfield;
}

/**
 * Clickable labels
 */

label[for] {
    cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
    outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
    border-color: inherit; /* 1 */
    border-collapse: collapse;
}

caption {
    text-align: left;
}

td,
th {
    vertical-align: top;
    padding: 0;
}

th {
    text-align: left;
    font-weight: bold;
}
/* ーーーーーーーーーーーーリセットCSSここまでーーーーーーーーーーーー */

/* ーーーーーーーーーーーー共通項目ここからーーーーーーーーーーーー */

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    animation: fadeIn 0.5s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: var(--gray);
    overflow-x: hidden; /* 背景の円が画面からはみ出しても横スクロールが出ないようにする */
}
/* ーーーーーーーー フォント ーーーーーーーー*/
html {
    font-size: 0.4vw;
    scroll-behavior: smooth;
}
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #201213;
    font-family: "Zen Kaku Gothic New", "Helvetica Neue", Arial,
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
p {
    font-size: clamp(14px, 3rem, 16px);
    line-height: 1.75;
}
.en {
    font-family: "Josefin Sans", sans-serif;
}
.fade {
    transition: 0.2s ease-in-out;
}
.fade:hover {
    opacity: 1;
    text-decoration: none;
}

.right {
    text-align: right !important;
}
.left {
    text-align: left !important;
}
.center {
    text-align: center !important;
}
.block {
    display: block !important;
}
.iblock {
    display: inline-block !important;
}
.full {
    width: 100%;
    height: auto;
}
.note {
    padding-left: 1em;
    text-indent: -1em;
}

/*ーーーーーーーー FLEX ーーーーーーーー*/
.flex_content {
    display: flex;
}
.flex_wrap {
    flex-wrap: wrap;
}
.flex_justify {
    justify-content: space-between;
}
.flex_start {
    justify-content: flex-start;
}
.flex_end {
    justify-content: flex-end;
}
.flex_center {
    justify-content: center;
}
.flex_top {
    align-items: flex-start;
}
.flex_align {
    align-content: space-between;
}
.flex_middle {
    align-items: center;
}
.flex_bottom {
    align-items: flex-end;
}
.flex_all {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_left,
.flex_right {
    flex-basis: 48%;
    max-width: 48%;
}
.flex_free {
    flex: 1;
}

/*ーーーーーーーー POSITION ーーーーーーーー*/
.prelative {
    position: relative !important;
}
.pabsolute {
    position: absolute !important;
}

/*ーーーーーーーー MARGIN ーーーーーーーー*/
.mauto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.mb02 {
    margin-bottom: 0.2em !important;
}
.mb05 {
    margin-bottom: 0.5em !important;
}
.mb1 {
    margin-bottom: 1em !important;
}
.mb2 {
    margin-bottom: 2em !important;
}
.mb3 {
    margin-bottom: 3em !important;
}
.mb4 {
    margin-bottom: 4em !important;
}
.mb5 {
    margin-bottom: 5em !important;
}
.mb10 {
    margin-bottom: 10em !important;
}
.mb15 {
    margin-bottom: 15em !important;
}
.mb20 {
    margin-bottom: 20em !important;
}
.pb02 {
    padding-top: 0.2em !important;
}
.pb05 {
    padding-bottom: 0.5em !important;
}
.pb1 {
    padding-bottom: 1em !important;
}
.pb2 {
    padding-bottom: 2em !important;
}
.pb3 {
    padding-bottom: 3em !important;
}
.pb4 {
    padding-bottom: 4em !important;
}
.pb5 {
    padding-bottom: 5em !important;
}
.pb10 {
    padding-bottom: 10em !important;
}
.pb15 {
    padding-bottom: 15em !important;
}
.pb20 {
    padding-bottom: 20em !important;
}
.pd02 {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.pd05 {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.pd1 {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.pd2 {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.pd3 {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.pd4 {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.pd5 {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
.pd10 {
    padding-top: 10em !important;
    padding-bottom: 10em !important;
}
.pd15 {
    padding-top: 15em !important;
    padding-bottom: 15em !important;
}
.pd20 {
    padding-top: 20em !important;
    padding-bottom: 20em !important;
}
.pd25 {
    padding-top: 25em !important;
    padding-bottom: 25em !important;
}
.pa02 {
    padding: 0.2em !important;
}
.pa05 {
    padding: 0.5em !important;
}
.pa1 {
    padding: 1em !important;
}
.pa2 {
    padding: 2em !important;
}
.pa3 {
    padding: 3em !important;
}
.pa4 {
    padding: 4em !important;
}
.pa5 {
    padding: 5em !important;
}
.pa10 {
    padding: 10em !important;
}
.pa15 {
    padding: 15em !important;
}
.pa20 {
    padding: 20em !important;
}

/*ーーーーーーーー オリジナル ーーーーーーーー*/
.mb50 {
    margin-bottom: 50px;
}
.mb70 {
    margin-bottom: 70px;
}
.mb100 {
    margin-bottom: 100px;
}
.mb150 {
    margin-bottom: 150px;
}
.mb200 {
    margin-bottom: 200px;
}
.pt100 {
    padding-top: 100px;
}
.gap {
    gap: 10rem;
}

/*ーーーーーーーー カラー ーーーーーーーー*/
:root {
    --gray: #f8f8f9;
    --orange: #fb7243;
    --green: #91d082;
    --black: #201213;
}

/*ーーーーーーーー レスポンシブ表示切り替え ーーーーーーーー*/
.pc_block {
    display: block;
}
.sp_none {
    display: none;
}
@media screen and (max-width: 480px) {
    .pc_block {
        display: none;
    }
    .sp_none {
        display: block;
    }
}

/*ーーーーーーーー wrap ーーーーーーーー*/
.inner {
    /* width: calc(100% - 20rem); */
    max-width: 1100px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.section {
    padding: 0 4%;
}
@media screen and (max-width: 580px) {
    .section {
        padding: 0 7%;
    }
}

/*ーーーーーーーー 背景のオブジェクト ーーーーーーーー*/
.section-obj {
    /* 円のオブジェクト */
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 99rem;
}
.obj01 {
    top: 20%;
    right: 5%;
    background: rgba(239, 114, 67, 0.2);
}
.obj02 {
    top: 50%;
    left: 30%;
    transform: translateX(-50%);
    background: rgba(131, 194, 128, 0.2);
}
/* 固定ページ：mvの背景オブジェクト位置調整 */
.section-mv .obj01 {
    top: 0;
    right: 2%;
}
.section-mv .obj02 {
    top: 90%;
    left: 20%;
}

/*ーーーーーーーー pagetop ーーーーーーーー*/
.page-top a i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-top a {
    font-size: 28px;
    height: 100%;
}
.page-top:hover {
    filter: invert(5%);
}
.page-top {
    height: 50px;
    background-color: #fff;
}

/*ーーーーーーーー header ーーーーーーーー*/
.header-inner {
    padding: 80px 0;
}
.header-inner h1 {
    width: 250px;
}
.header-inner ul {
    gap: 4em;
}
.header-inner ul li {
    font-family: "Josefin Sans", sans-serif;
    font-size: clamp(16px, 3.3rem, 18px);
    font-weight: 700;
}
.header-inner ul li a:hover {
    border-bottom: 2px solid #4c4c4c;
}
.header-logo a:hover {
    opacity: 0.7;
}

/*ーーーーーーーー footer ーーーーーーーー*/
.footer {
    background-color: var(--black);
}
.footer p {
    color: #fff;
}
.footer-inner {
    padding: 100px 0;
}
.footer-sns {
    gap: 2rem;
}
.footer-sns a img {
    width: 70%;
    height: auto;
}
