@charset "utf-8";

/*ーーーーーーーー フォント ーーーーーーーー*/
.works-inner h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: clamp(28px, 5.2rem, 36px);
    font-weight: 700;
}
.works-inner h3 {
    font-size: clamp(14px, 3.3rem, 18px);
    font-weight: bold;
}
.works-inner p {
    font-family: "Josefin Sans", sans-serif;
}
#index .btn a {
    font-family: "Josefin Sans", sans-serif;
    font-size: clamp(14px, 3rem, 16px);
}
.about-inner_name {
    font-size: clamp(16px, 2.7rem, 20px);
    font-weight: bold;
}

/*ーーーーーーーー MV ーーーーーーーー*/
.mv-txt {
    position: absolute;
    top: 50%;
    left: 18%;
    z-index: 999;
    width: 338px;
    height: auto;
    transform: translate(0, -50%);
    font-size: clamp(14px, 4rem, 26px);
    line-height: 1.75;
}

/*ーーーーーーーー Works ーーーーーーーー*/
.works-inner_item:hover {
    opacity: 0.7;
}
@media screen and (max-width: 580px) {
    .works {
        margin-bottom: 100px;
    }
    .works-inner h2 {
        margin-bottom: 50px;
    }
    .works-inner_content {
        display: block;
        margin-bottom: 50px !important;
    }
    .works-inner_content div:first-child {
        margin-bottom: 50px;
    }
}

/*ーーーーーーーー About ーーーーーーーー*/
.about-inner {
    background-color: #fff;
    border-radius: 15px;
    padding: 65px 105px;
}
.about-inner_img {
    flex-basis: 40%;
}
.about-inner_txt {
    max-width: 464px;
    flex: 1;
}
.about-inner_txt .title {
    margin: 0 !important;
    line-height: 1.5;
}
.about-inner_txt p {
    margin-bottom: 2em;
}
.about-inner_gap {
    gap: 11em;
}
@media screen and (max-width: 768px) {
    .about-inner_gap {
        display: block;
    }
    .about-inner_img {
        width: 70%;
        margin: 0 auto 40px;
    }
    .about-inner_name {
        margin-bottom: 1.5em !important;
    }
    .about-inner_txt .title,
    .about-inner_name,
    .about-inner_txt .btn {
        text-align: center;
    }
}
@media screen and (max-width: 580px) {
    .about {
        margin-bottom: 150px;
    }
    .about-inner {
        padding: 55px 65px;
    }
}

/*ーーーーーーーー btn ーーーーーーーー*/
.btn-hover {
    border: 1px solid #201213;
}
.btn a {
    position: relative;
    display: inline-block;
    padding: 1.4em 5.3em 1em;
}
.btn i {
    position: absolute;
    top: 50%;
}
i::before {
    position: absolute;
    top: calc(50% - 0.7em);
    right: 3rem;
    font-size: 80%;
}

/*ーーーーーーーー hover ーーーーーーーー*/
.btn-hover:hover {
    border: none;
    color: #fff;
    background-color: var(--orange);
    margin-bottom: 2px;
}
.about-inner .btn-hover:hover {
    border: none;
    color: #fff;
    background-color: var(--green);
    margin-bottom: 2px;
}
