@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

.wrap {
    background: #eeeeee;
}
.content {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px;
}
h2 {
    text-align: center;
    margin: 0 auto 40px;
    color: #008176;
}
.flex_content {
    display: flex;
    justify-content: space-between;
}
.flex_item {
    margin-right: 20px;
    background: #fff;
}
.flex_item:last-child {
    margin-right: 0px;
}
.flex_item h3 {
    padding: 0 0 0 5px;
    color: #008176;
    border-left: 7px solid #008176;
}
.flex_item p {
    padding: 0 10px 15px;
    font-size: 14px;
}
.item_head {
    padding: 10px;
}

@media screen and (max-width: 400px) {
    .flex_content {
        display: block;
    }
    .flex_item {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .flex_item img {
        width: 100%;
    }
    .content {
        padding: 15px;
    }
}
